<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="joint_robot">

  <xacro:include filename="$(find joint_description)/urdf/joint_model.macro.urdf"/>

  <link name="world"/>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:joint_model prefix=""/>

</robot>